

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    font-size: larger;
	background-color: #9F082D;
}

header {
	background-color: #fdf9f9;
	color: #030303;
	padding: 40px;
	border-radius: 80px;
}

h1 {
	margin: 0;
	font-size: 64px;
	display: flex;
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
}

.image-container {
	text-align: center; /* Centers the image horizontally */
	border-radius: 50px 50px 50px 50px;
  }
  
.image-container img {
	display: block; /* Ensures proper alignment and margin auto works correctly */
	margin-left: auto;
	margin-right: auto;
	max-width: 100%; /* Adjust the maximum width as needed */
	height: auto; /* Maintains the aspect ratio of the image */
	border-radius: 50px 50px 50px 50px;
  }



main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

h2 {
	margin: 0;
	display: flex;
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
}

p {
	margin: 0;
	display: flex;
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
	font-size: 26px;
}

.bio-section {
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 5px;
	border-radius: 100px 100px 100px 100px;
  }
  
  .bio-section h2 {
	font-size: 44px;
	margin-bottom: 10px;
  }
  
  .bio-section p {
	font-size: 26px;
	line-height: 1.5;
  }


  .services-container {
	background-color: #f0f0f0;
	font-size: 34px;
	-ms-flex-align: center;
	text-align: center; /* Centers the image horizontally */
	display: block; /* Ensures proper alignment and margin auto works correctly */
	margin-left: auto;
	margin-right: auto;
	max-width: 100%; /* Adjust the maximum width as needed */
	height: auto; /* Maintains the aspect ratio of the image */
	border-radius: 500px 500px 500px 500px;
	width: 50%; /* Adjust the percentage as needed */
	height: 50%; /* Adjust the percentage as needed */
  }

  .publishing-container {
	background-color: #f0f0f0;
	font-size: 34px;
	-ms-flex-align: center;
	text-align: center; /* Centers the image horizontally */
	display: block; /* Ensures proper alignment and margin auto works correctly */
	margin-left: auto;
	margin-right: auto;
	max-width: 100%; /* Adjust the maximum width as needed */
	height: auto; /* Maintains the aspect ratio of the image */
	border-radius: 50px 50px 50px 50px;
	width: 50%; /* Adjust the percentage as needed */
	height: 50%; /* Adjust the percentage as needed */
  }



  .centered-ul {
	display: flex;
	justify-content: center;
	line-height: 1.5;
	font-size: 26px;
	.centered-ul {
		display: flex;
		justify-content: center;
		line-height: 1.5;
		font-size: 26px;
		list-style-type: none;
	}
}

.gallery-section {
	background-color: #f0f0f0;
	font-size: 34px;
	padding: 20px;
	border-radius: 5px;
	border-radius: 100px 100px 100px 100px;
  }



form label, form input, form textarea {
	display: block;
	margin-bottom: 10px;
	display: flex;
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
}

button {
	background-color: #b88996;
	color: #000000;
	padding: 10px 10px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 34px;
	max-width: 100%; /* Adjust the maximum width as needed */
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 100px 100px 100px 100px;
  }
  
  .form-container input {
	width: 100%;
	max-width: auto; /* Adjust the maximum width as needed */
	margin-bottom: 10px;
	
  }
  
  .form-container textarea {
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
	width: 100%;
	max-width: auto; /* Adjust the maximum width as needed */
	margin-bottom: 10px;
  }

.contact-info {
	background-color: #f2e5e5;
	padding: 30px;
	margin-top: 20px;
	line-height: 1.5;
	font-size: 24px;
	border-radius: 40px;
  }
  
  footer {
	background-color: #0f0e0e;
    color: #fffcfd;
	padding: 20px;
	text-align: center;
    font-family: Arial, sans-serif;
    font-size: large;
}