/* style.css */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    font-size: larger;
	background-color: #9F082D;
}

main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 50px); /* Full height minus header */
}

#canvas-basic {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  }

/* CARDS */
body {
	background-color: #100e17;
	font-family: 'Open Sans', sans-serif;
  }
  
  .container {
	margin-top: 270px;
	position: absolute;
	height: 300px;
	width: 600px;
	top: 60px;
	left: calc(50% - 300px);
	display: flex;
  }
  
  .card {
	display: flex;
	height: 280px;
	width: 200px;
	background-color: #17141d;
	border-radius: 10px;
	box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
  }
  
  .card:not(:first-child) {
	  margin-left: -50px;
  }
  
  .card:hover {
	transform: translateY(-20px);
	transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
	position: relative;
	left: 50px;
	transition: 0.4s ease-out;
  }
  
  .title {
	color: rgb(0, 0, 0);
	font-weight: 300;
	position: absolute;
	left: 20px;
	top: 15px;
  }
  
  .bar {
	position: absolute;
	top: 100px;
	left: 20px;
	height: 5px;
	width: 150px;
  }
  
  .emptybar {
	background-color: #2e3033;
	width: 100%;
	height: 100%;
  }
  
  .filledbar {
	position: absolute;
	top: 0px;
	z-index: 3;
	width: 0px;
	height: 100%;
	background: rgb(0,154,217);
	background: linear-gradient(90deg, rgba(159, 8, 45, 1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
	transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
	width: 120px;
	transition: 0.4s ease-out;
  }
  
  .circle {
	position: absolute;
	top: 150px;
	left: calc(50% - 60px);
  }
  
  .stroke {
	stroke: white;
	stroke-dasharray: 360;
	stroke-dashoffset: 360;
	transition: 0.6s ease-out;
  }
  
  svg {
	fill: #17141d;
	stroke-width: 2px;
  }
  
  .card:hover .stroke {
	stroke-dashoffset: 100;
	transition: 0.6s ease-out;
  }


/* CARDS */


h1 {
	margin: 0;
	font-size: 64px;
	display: flex;
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
}

.image-container {
	text-align: center; /* Centers the image horizontally */
	border-radius: 50px;
	padding: 40px;
	padding-bottom: 140px;
  }
  
.image-container img {
	display: block; /* Ensures proper alignment and margin auto works correctly */
	margin-left: auto;
	margin-right: auto;
	max-width: 100%; /* Adjust the maximum width as needed */
	height: auto; /* Maintains the aspect ratio of the image */
	border-radius: 50px 50px 50px 50px;
  }



/* main {
	padding: 20px;
} */

/* 
section {
	margin-bottom: 20px;
} */

h2 {
	margin: 0;
	display: flex;
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
}

p {
	margin: 0;
	display: flex;
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
	font-size: 26px;
}

.bio-section {
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 5px;
	border-radius: 100px 100px 100px 100px;
  }
  
  .bio-section h2 {
	font-size: 44px;
	margin-bottom: 10px;
  }
  
  .bio-section p {
	font-size: 26px;
	line-height: 1.5;
  }


  .services-container {
	background-color: #f0f0f0;
	font-size: 34px;
	-ms-flex-align: center;
	text-align: center; /* Centers the image horizontally */
	display: block; /* Ensures proper alignment and margin auto works correctly */
	margin-left: auto;
	margin-right: auto;
	max-width: 100%; /* Adjust the maximum width as needed */
	height: auto; /* Maintains the aspect ratio of the image */
	border-radius: 500px 500px 500px 500px;
	width: 50%; /* Adjust the percentage as needed */
	height: 50%; /* Adjust the percentage as needed */
  }

  .publishing-container {
	background-color: #f0f0f0;
	font-size: 34px;
	margin-bottom: 10%;
	text-align: center; /* Centers the image horizontally */
	display: block; /* Ensures proper alignment and margin auto works correctly */
	margin-left: auto;
	margin-right: auto;
	max-width: 100%; /* Adjust the maximum width as needed */
	height: auto; /* Maintains the aspect ratio of the image */
	border-radius: 50px 50px 50px 50px;
	width: 50%; /* Adjust the percentage as needed */
	height: 50%; /* Adjust the percentage as needed */

	border: 1px solid black;
	background-color: rgb(255, 182, 194);
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 80px;
  }

.coming-info {
	background-color: #000000;
	color:#ddd;
	font-size: 34px;
	padding: 10%;
	margin-bottom: 15%;
	display: block;
	margin-bottom: 10px;
	display: flex;
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
}

  .centered-ul {
	display: flex;
	justify-content: center;
	line-height: 1.5;
	font-size: 26px;
	.centered-ul {
		display: flex;
		justify-content: center;
		line-height: 1.5;
		font-size: 26px;
		list-style-type: none;
	}
}

.gallery-section {
	background-color: #f0f0f0;
	font-size: 34px;
	padding: 20px;
	border-radius: 5px;
	border-radius: 100px 100px 100px 100px;
  }



form label, form input, form textarea {
	display: block;
	margin-bottom: 10px;
	display: flex;
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
}

button {
	background-color: #9F082D;
	color: #000000;
	padding: 10px 10px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 34px;
	max-width: 100%; /* Adjust the maximum width as needed */
}

/* .form-container {
	padding-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 100px 100px 100px 100px;
  } */
  
.form-container input {
	width: 100%;
	max-width: auto; /* Adjust the maximum width as needed */
	margin-bottom: 10px;
	
  }
  
.form-container textarea {
	justify-content: center; /* Centers the image horizontally */
	align-items: center; /* Centers the image vertically */
	width: 100%;
	max-width: auto; /* Adjust the maximum width as needed */
	margin-bottom: 10px;
  }

.contact-info {
	background-color: #f2e5e5;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 20 px;
	line-height: 1.5;
	font-size: 24px;
	border-radius: 40px;
  }
  
.footer {
	position: fixed;
	left: 0;
   	bottom: 0;
	padding: 5px;
   	width: 100%;
	background-color: #0f0e0e;
    color: #fffcfd;
	text-align:center;
}


.topnav {
	overflow: hidden;
	background-color: #e9d4d4;
	text-align: left;
  }
  
  .topnav a {
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #9f082d;
	color: black;
	box-shadow: -1rem 0 3rem #000;
  }
  
  .topnav a.active {
	background-color: #04AA6D;
	color: white;
  }



/* SERVICES CARDS */

 /* .card_1 { */
	/* Add shadows to create the "card" effect */
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
  }
   */



  /* On mouse-over, add a deeper shadow */
  /* .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  


  /* Add some padding inside the card container */
  /* .container {
	padding: 2px 16px;
  } */



  /* .card_2 {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s; */
	/* border-radius: 5px; 5px rounded corners */
  /* } */



  /* .card_3 {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
  /* }  */ 
 
  
  /* Add rounded corners to the top left and the top right corner of the image */
  /* img {
	border-radius: 5px 5px 0 0;
  } */

